{% extends 'base/base.html' %}
{% block page_content %}

    <!-- Your Profile Data -->
    <h1>Sign in form: </h1>

    <form method="post" action="{% url 'sign in' %}">
        {{ form.as_p }}
        <input name="next" type="hidden" value="{{ next }}">
        <button>Sign in!</button>
        {% csrf_token %}
    </form>



    {#    <div class="body">#}
    {#        <div class="form">#}
    {#            <div>#}
    {#                <form method="post" action="{% url 'sign in' %}">#}
    {#                    {{ form.as_p}}#}
    {#                    <input type="hidden" name="next" value="{{ next }}">#}
    {#                </form>#}
    {#            </div>#}
    {#            <div class="right">#}
    {#                <!-- Edit Profile Button -->#}
    {#                <a class="button edit" href="#">Sign in</a>#}
    {#                {% csrf_token %}#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

{% endblock %}