{% extends 'base.html' %}

{%block head%}
<title>Index</title>
{%endblock%}


{%block header%}
<!--<h1>Shortable Stocks</h1>-->
{%endblock%}

{%block body%}
<br>
 <a
            href="http://127.0.0.1:5000/">Home Page</a>
<br>
<h1>Candlestick Charts</h1>
    <div>
        {% for chart in charts %}
            <div>
                <h3>{{ chart }}</h3>
                <img src="{{ url_for('static', filename='charts/' + chart) }}" alt="{{ chart }}">
            </div>
        {% endfor %}
    </div>

<br><br><br>


{%endblock%}