{% extends 'base.html' %}

{%block head%}
<title>Index</title>
{%endblock%}


{%block header%}
<!--<h1>Shortable Stocks</h1>-->
{%endblock%}

{%block body%}
<br><br><br>
 <a
            href="http://127.0.0.1:5000/">Home Page</a>
<br><br><br>
<h1>Shortable Stocks Options Data</h1>:
<br>
<h2>
    Retrieve daily data:</h2>
<ul>
     <li><a href="http://127.0.0.1:5000/ss_notable_options_volume">Notable Options Volume</a></li>
     <li><a href="http://127.0.0.1:5000/ss_notable_options_activity">Notable Options Activity</a></li>
     <li><a href="http://127.0.0.1:5000/ss_options_volume_leaders">Options Volume leaders</a></li>
     <li><a href="http://127.0.0.1:5000/ss_highest_implied_volatility">Highest Implied Volatility</a></li>
    <br>
    <li>...</li>

    <li>...</li>
    <li>...</li>
    <li>...</li>
</ul>

<br><br><br>


{%endblock%}


