{% extends 'base/base.html' %}
{% block page_content %}

    <br><br><br>
        <h1>Marketplace Item Detail: </h1>
        <h1>______________________________________</h1>
        <br><br><br>

    <div class="expense-container">
        <img src="/static/images/user.png" alt="profile pic">
        <p>
            <label>name: </label>
            <a1>{{ object.name }}</a1>
        </p>
        <p>
            <label>description: </label>
            <a2>{{ object.description }}</a2>
        </p>
        <p>
            <label>type: </label>
            <a2>{{ object.type }}</a2>
        </p>
        <p>
            <labe>price (EUR):</labe>
            <a2>{{ object.price|floatformat:2 }}</a2>
        </p>
        <div>
            {% if is_owner %}
                <div>
                    <button onclick="location.href='{% url 'marketplace item edit' pk=object.pk %}'" type="button">Edit
                        Item
                    </button>
                </div>
            {% endif %}
            <br><br><br>
            <button onclick="location.href='{% url 'marketplace list' %}'" type="button">Back to Marketplace</button>


            {% csrf_token %}
        </div>
    </div>

{% endblock %}