{% extends 'base.html' %}

{%block head%}
{%endblock%}

{%block header%}
<title>Single Ticker Screener - General Overview</title>
{%endblock%}

{%block body%}
<br>
<h1>Single Ticker Screener - General Overview</h1>
<br>
<h2>
    Process Description:
</h2>
<ul>
    <li>Main tickers: </li>
    <li>Industries </li>
<!--    <li>filter on last day(s), where we have patterns</li>-->
<!--    <li>classification of setups type and magnitude (bullish/ bearish signals)</li>-->
<!--    <li>filter on setups tickers for visualization</li>-->
<!--    <li>visualize</li>-->
</ul>
<br>
<br>

{%endblock%}