{% extends 'base/base.html' %}
{% block page_content %}

    <br><br><br><br><br><br>

    {% if user.is_authenticated %}
        <h1> Hi, {{ user.first_name }}!</h1>
    {% else %}
        <h1>Dear Guest, </h1>
        <h1>Welcome to Triathlon Market ... </h1>
    {% endif %}
    <h1>__________________________________________________</h1>

    <br><br><br>
    Please note that if you have questions you can reach out to our colleagues as follows:
    <br><br>

    Marketplace items administration:
    <br>
    {% for name in marketplace_admins %}
        <li>
        name: {{ name.first_name }}
        {{ name.last_name }} -
        e-mail: {{ name.email }} <br>
        </li>
    {% endfor %}
    <br><br>

    Profile administration:
    <br>
    {% for name in profile_admins %}
        <li>
        name: {{ name.first_name }}
        {{ name.last_name }} -
        e-mail: {{ name.email }} <br>
        </li>
    {% endfor %}
    <br><br>

    Page administration:
    <br>
    {% for name in superuser_list %}
        <li>
        name: {{ name.first_name }}
        {{ name.last_name }} -
        e-mail: {{ name.email }} <br>
        </li>
    {% endfor %}
    <br><br>

{% endblock %}
