{% extends 'base/base.html' %}
{% block page_content %}

    <!-- Your Profile Data -->
    <br>
    <br>
    {% if is_owner %}
        <h1>Your Profile information</h1>
    {% elif is_superuser or has_profile_admin_rights %}
        <h1>You can moderate Profile section as you're logged as Superuser or Profile admin user:</h1>
    {% else %}
        <h1>Profile</h1>
    {% endif %}

    <div class="expenses-container">
        <div class="expense-container">
            <img src="/static/images/user.png" alt="profile pic">
            <h1>General info:</h1>
            <p>
                <label>e-mail: </label>
                <a1>{{ object.email }}</a1>
            </p>
            <p>
                <label>first name: </label>
                <a2>{{ object.first_name }}</a2>
            </p>
            <p>
                <label>last name: </label>
                <a2>{{ object.last_name }}</a2>
            </p>

            {% if is_owner or has_profile_admin_rights %}
                <h1>Personal info:</h1>
                <p>
                    <labe>age:</labe>
                    <a2>{{ object.age }}</a2>
                </p>
            {% endif %}

            <div class="right">
                {% if is_owner or has_profile_admin_rights %}
                    <a class="button edit" href="{% url 'profile update' pk=object.pk %}">Edit Profile</a>
                    <a class="button delete" href="{% url 'profile delete' pk=object.pk %}">Delete Profile</a>
                    {% csrf_token %}
                {% endif %}
            </div>
            <br>
            <button onclick="location.href='{% url 'marketplace list' %}'" type="button">Back to Marketplace
            </button>
            {% csrf_token %}
        </div>
    </div>

    {% if is_owner %}
        <h1>You have listed the following items in the 'Marketplace' section:</h1>
    {% elif is_superuser or has_market_admin_rights %}
        <h1>You can moderate Marketplace section as you're logged as superuser or Marketplace admin user</h1>
    {% else %}
        <h1>Listed items by this Profile</h1>
    {% endif %}

    <div class="expenses-container">
        {% for item in items_listed_by_user %}
            <div class="expense-container">
                <img src="/static/images/user.png" alt="profile pic">
                <p>
                    <label>name: </label>
                    <a1>{{ item.name }}</a1>
                </p>
                <p>
                    <label>description: </label>
                    <a2>{{ item.description }}</a2>
                </p>
                <p>
                    <label>type: </label>
                    <a2>{{ item.type }}</a2>
                </p>
                <p>
                    <labe>price (EUR):</labe>
                    <a2>{{ item.price|floatformat:2 }}</a2>
                </p>
                <div class="right">
                    <a class="button edit" href="{% url 'marketplace item edit' pk=item.pk %}">Edit Item</a>
                </div>
            </div>
        {% endfor %}
    </div>

    {##}

{% endblock %}