{% extends 'base/base.html' %}
{% block page_content %}

    <!-- Your Profile Data -->
    <h1>Edit Profile</h1>

    <!-- Profile Edit Form -->
    <div class="form">
        <form method="POST" action="profile-edit.html">

            <!-- Profile Image -->
            <img src="/static/images/user.png" alt="profile pic">

            <label for="firstName">first name: </label>
            <input type="text" name="first_name" value="{{ first_name_for_form }}" maxlength="15" required=""
                   id="firstName">

            <label for="lastName">last name: </label>
            <input type="text" name="last_name" value="{{ last_name_for_form }}" maxlength="15" required=""
                   id="lastName">

            <label for="lastName">age: </label>
            <input type="text" name="last_name" value="{{ age_for_form }}" maxlength="15" required=""
                   id="lastName">

            <label for="image">Profile Image:</label>
            <input type="file" class="form-file" name="last_name" id="image">

            <a class="button edit" href="{% url 'profile update' pk=user.pk%}">Edit Profile</a>
            {% csrf_token %}

        </form>

    </div>
{% endblock %}



